h2 {
    font-size: 20;
}

body {
    margin: 0;
    font-family: 'Jua', sans-serif;
}

a{
    text-decoration: none;
    color:white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#263343;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: white;
}

.navbar_logo i {
    color: #d49466;
}

.navbar_memu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_memu li {
    padding: 8px 170px;
}

.navbar_memu li :hover {
    background-color:#d49466;
    border-radius: 4px;
}

.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color:#d49466;  
}

li {
    color: black;
    font-size: 18px;
}

.abc {
    color: black;
}
@media screen and (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_memu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_memu li {
        width: 100%;
        text-align: center;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_memu.active
    .navbar_icons.active {
        display: flex;
    }

    body h1 {
        font-size: 20px;
    }
}